<a href="https://colab.research.google.com/github/eshmaapps/pythonTutorial/blob/main/tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#This is a comment and will not get executed
"""
This is a multi-line comment 
And will also not get executed
"""

In [ ]:
#Starting with a simple string
print('Hello, world!')

In [9]:
#integers

num = 10
print(num)

#Float/Decimals
myDecimal = 101.123
print(myDecimal)

#Strings
myString = "hello" + " there"
print(myString)

10
101.123
hello there

In [ ]:
#Operators

#Addition

x = 2+2
print(x)
x = x + 10
print(x)

# Another way of adding to self
x += 10
print(x)

#Subtraction
x = 10-2
print(x)
x -= 5
print(x)

#Multiplication
x = 4*5
print(x)
x *= 5
print(x)


#Division
x = 5/4
print(x)

#Modulus

x = 5%4
print(x)

#Exponentiation
x = 5**2
print(x)

In [7]:
x = 2/3
print(f"x = {x:.2f}")

x = 0.67

In [ ]:
#Variables
x = 28
y = "I am a string!"
z = 'Double quotes or single quotes are ok!'
print(x)
print(y)
print (z)
print(type(y))
#Variable types can be changed
y = 10
print(y)
print(type(y))

In [ ]:
  #Casting of variables
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(z)

3.0

In [ ]:
#Get variable type
print(type(x))

<class 'str'>

In [ ]:
#Case sensitive
var1 = 10
Var1 = 20
print(var1)
print(Var1)

10
20

In [3]:
num1 = 1000
num2 = 2000

num3 = num1 +num2
print(f"{num3:,}")

3,000

In [5]:
#Formatting strings for diff data types
age = 1
txt = "My name is Jax, and I am {}"
print(txt.format(age))


print(f" I am {age}")

My name is Jax, and I am 1
 I am 1

In [ ]:

#Variable namimg convention
"""
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 
Rules for Python variables:
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)
"""

In [ ]:
#Camel case 
camelCase = "This is a string variable in camel case format"
#Snake case
snake_case_format_string = "This is a snake case format. Which do you like best?"

In [ ]:
#Many Values to Multiple Variables

x = "a"

y = "b"

z = "c"
x, y, z = "a", "b", "c"
print(x)
print(y)
print(z)

a
b
c

In [ ]:
sids_pet, valsPet, garimaPet, vihaans_pet = "bunny", "bird", "dog", "none"

In [ ]:
#One Value to Multiple Variables
x = y = z = "b"
print(x)
print(y)
print(z)

b
b
b

In [ ]:
#using arrays
letters = ["a", "b", "c", "d", 3.0, 68 , [3, 4, 5] ]
x, y, z, a, b, c, d = letters
print(x)
print(y)
print(z)
print(a)
print(type(letters))

a
b
c
d
<class 'list'>

In [ ]:
name = input('What is your name?')
print("hello " + name)

In [ ]:
#Outputting variables using print
string1 = "good"
print("vihaan  = "+ string1)

#concatenating strings
string2 = "Life is"
string3 = "good"
finalString = string2 + string3
print (finalString)

vihAan  = good
Life isgood

In [ ]:
x = "The value of pi is "
y = 3.14
z = x + str(y)
print(z)

The value of pi is 3.14

**Logical operators:**

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

*Greater* than or equal to: a >= b

**Conditional statements:**


if, elif, else

In [ ]:
#Indentation. When we have conditional statements such as if/else or loops such as for/while, the code that needs to run within each section should be indented equally. 
# You can use a tab or spaces. When there are no more indentations, python will know that the loop/if section is complete.
if 1 > 0:
	print("It's a beautiful world!")
print("It's a beautiful world still!")

In [ ]:
#logical operation 'and', 'or' to run multiple statements

x = 160
y = 50
z = 90

if x ==y or x < 150:
  print ("x = y or < 150")
elif x!=z and x == 100:
  print ("z is not 100")
else:
  print("nothing matched!")

nothing matched!

In [ ]:
#Comparing 2 numbers

a = 600
b = 600

if a< b:
  print("A is less than b")
elif a == b:
  print ("A is equal to b")
else:
  print ("A is greater than b")

A is equal to b

**Functions are awesome!!**




They allow us to create small sections of code that can be called from other functions

In [ ]:
def myAwesomeFunctionThatDoesntDoMuch():
  print ("Hello there")

myAwesomeFunctionThatDoesntDoMuch()

Hello there

In [10]:
#Functions taking values


def add2numbers(x, y):
  return x+y

add2numbers(10, 40)

50

In [11]:
#Functions taking values


def sayHello(x="world"):
  print ("Hello " + x)

sayHello("Garima")
sayHello()

Hello Garima
Hello world

In [ ]:
#Functions continued.

#Here x is defined as a global variable in the main section of the code
# Therefore, this is global scope
x = "awesome"

def myfunc():
  #Here x is being overwritten by a local value in a function
  #Therefore it's local scope.
  x = "fantastic"
  print("Life is " + x)

myfunc()

print("Life is " + x)

Life is fantastic
Life is awesome

In [14]:
# THE MAIN Function

def main():
  name = input("who do you want to say hello to? ")
  hello(name)

def hello(there = "world"):
    print ("Hello. " + there)

main()

who do you want to say hello to? me
Hellome

In [18]:
#Returns
# a function can perform some actions and return the final result

def squareCalculator(num):
  return (num*num)

def main():
  x = int(input("What number to square"))
  result = squareCalculator(x)
  print(f"square of {x} is {result}")


main()

What number to square0
square of 0 is 0

In [ ]:
def check_user_input(input):
    try:
        # Convert it into integer
        val = int(input)
        print("Input is an integer number. Number = ", val)
        return True
    except ValueError:
        try:
            # Convert it into float
            val = float(input)
            print("Input is a float  number. Number = ", val)
            return False
        except ValueError:
            print("No.. input is not a number. It's a string")
            return False
success = False
while success != True:
  success = check_user_input(input("num = "))

num = hi
No.. input is not a number. It's a string
num = 6.0
Input is a float  number. Number =  6.0
num = 8
Input is an integer number. Number =  8

In [ ]:
#A function can call other functions and ITSELF! its called recursion. 
#But you have to be careful else your program will run forever and eventually run out of memory.

def recursive(number):
  print (number)
  print (".........")
  command = input("enter a command")
  if(command == "stop"):
    print(number)
    return
  
  recursive(number+1)
  print (number)


recursive(0)

**For loops**

A for loop is used for iterating over a sequence such as a list or dictionary , tuple, set or string. Whatever is within the for loop, will get executed once for each item in the sequence.

In [ ]:
fruits = ["banana", "cherry"]

for x in fruits:
  print(x)
for x in "bananas":
  print(x)

banana
cherry1
b
a
n
a
n
e

In [ ]:
#While versus for loops

# While loops are used when the looping needs to continue till a condition becomes true (or false)
#For loop is an iteration over a set of objects

myString = "Aloha"
for x in myString:
  print(x)


index = 0
while index < len(myString):
  print(myString[index])
  index = index +1

In [19]:
print("hello\n" *3)

hello
hello
hello

In [ ]:

a = "Amsterdam!"
print(a[1])
for x in "Aloha":
  print(x)

print(len(a))

m
A
l
o
h
a
10

In [ ]:
#Get the characters from position 2 to position 5 (not included):
b = "Applesauce!"
print(b[2:5])
#From beginning
print(b[:5])
#To end
print(b[2:])
#From end of the string
print(b[-5:-2])

ple
Apple
plesauce!
auc

In [ ]:

#Other operations such as upper case, lower case, trimming spaces, replacing words and splitting 
a = " I am a fancy string "
print(a.upper())
print(a.lower())
print(a.strip()) 
print(a.replace("fancy", "simple"))
print(a.split(" "))

 I AM A FANCY STRING
 i am a fancy string
I am a fancy string
 I am a simple string
['', 'I', 'am', 'a', 'fancy', 'string', '']

My name is Jax, and I am 1
I want 10 tomatoes for $12 dollars please in 1 hour(s).

In [ ]:

quantity = 10
item = "tomatoes"
price = 12
time = 1
myorder = "I want {} {} for ${} dollars please in {} hour(s)."
print(myorder.format(quantity, item, price, time))

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

**While and For loops to execute a set of code multiple times! **

In [ ]:
#print squares of numbers
counter = 1
while counter < 10:
  print(counter**2)
  counter += 1
else:
  print("all done!")

1
4
9
16
25
36
49
64
81
all done!

**Break and Continue in a loop**

continue is used to stop the current iteration, and continue with the next iteration while break is used to break out of the loop

In [ ]:
#print squares of numbers but skip even numbers

counter = 0
while counter < 10:
  counter += 1
  if counter%2 == 0:
    continue
  
  if counter == 7:
      break
  print(counter**2)

1
9
25

**Break and Continue in a loop**

continue is used to stop the current iteration, and continue with the next iteration while break is used to break out of the loop

In [ ]:
dogs = ["poodles", "beagles", "golden retreivers", "huskies", "bull dogs"]
for breed in dogs:
  if breed == "poodles":
    continue
  if breed == "huskies":
    break
  print(breed)

beagles
golden retreivers

**Nested for loops:**

Nested for loops are used when we need to run a loop within a loop.

In [ ]:
#For ex: consider a middle school which has 3 grades, 6, 7, 8

grades = [6, 7, 8]

#each grade has the same subjects. 

subjects = ["math", "language arts", "PE", "Science", "Social Studies"]

#Printing all the courses that need to be taught.
for eachGrade in grades:
  for studentCount in subjects:
    print(eachGrade, studentCount)

6 math
6 language arts
6 PE
6 Science
6 Social Studies
7 math
7 language arts
7 PE
7 Science
7 Social Studies
8 math
8 language arts
8 PE
8 Science
8 Social Studies

In [ ]:
#For ex: consider a middle school which has 3 grades, 6, 7, 8

grades = [6, 7, 8]

#each grade has different number of sections which have diff number of kids

subjects = ["math", "language arts", "PE", "Science", "Social Studies"]

# to count all the students per grade we need to run a loop within a loop

total = []
for eachGrade in grades:
  for studentCount in studentCounts:
    print(eachGrade, studentCount)

6 40
6 40
6 39
7 40
7 40
7 39
8 40
8 40
8 39

In [ ]:
# functions can take arguments and return a value back to the call like below.

def myAwesomeFunction(x, y):
  return (x+y)


print(myAwesomeFunction (20, 30))
print(myAwesomeFunction (20, -6))

In [ ]:
#If the number of arguments could be variable we can use a wild card.
def myAwesomeFunction2(*args):
  for argumentX in args:
    print(argumentX)

myAwesomeFunction2("a", "b", "c")
myAwesomeFunction2(1, 2)

In [ ]:
fruits = ["banana", "cherry1"]

want = input('what fruit do you want to buy today?: ')
if want in fruits :
    print("Yes, "+ want + " found in List : " , fruits)
else:
   print("No, "+ want + " not found in List : " , fruits)

what fruit do you want to buy today?: cherry
No, cherry not found in List :  ['banana', 'cherry1']

In [ ]:
user_list = ['amar12', 'parvez34', 'adam789', 'samtest456']
if any("test1" in s for s in user_list):
 print("found");
else:
 print("not found")

not found

In [ ]:
user_list = ['amar12', 'parvez34', 'adam789', 'samtest456', "test123"]
matching = [s for s in user_list if "test" in s]
print(matching)

['samtest456', 'test123']

In [33]:
#lists

students = [
            {"name": "James", "game":"Volley", "Subject":"math"},
             {"name": "Julia", "game":"Volley", "Subject":"science"},
              {"name": "garima", "game":"nothing", "Subject":"Ai"}]
for i in students:
  print(i["name"], i["game"], i["Subject"])

James Volley math
Julia Volley science
garima nothing Ai

In [ ]:
#File operations

open_file = open('file_to_save.txt', 'w')
open_file.write('A string to write')
open_file.close()

open__ = open('file_to_save.txt', 'r')
print(open__.read())
open__.close()