<a href="https://colab.research.google.com/github/eshmaapps/pythonTutorial/blob/main/tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#This is a comment and will not get executed
"""
This is a multi-line comment 
And will also not get executed
"""

'\nThis is a multi-line comment \nAnd will also not get executed\n'

In [2]:
#Starting with a simple string
print('Hello, world!')

Hello, world!

In [20]:
x = 2+2
print(x)
x = x + 10
print(x)
x = 4*5
print(x)

4
14
20

In [23]:
name = input('Enter a number: ')

Enter a number6

In [3]:
#Indentation
if 1 > 0:
	print("It's a beautiful world!")
print("It's a beautiful world still!")

It's a beautiful world!
It's a beautiful world still!

In [4]:
#Variables
x = 28
y = "I am a string!"
z = 'Double quotes or single quotes are ok!'
print(x)
print(y)
print (z)
print(type(y))
#Variable types can be changed
y = 10
print(y)

28
I am a string!
Double quotes or single quotes are ok!
<class 'str'>
10

In [5]:
#Casting of variables
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(z)

3.0

In [6]:
#Get variable type
print(type(x))

<class 'str'>

In [7]:
#Case sensitive
var1 = 10
Var1 = 20
print(var1)
print(Var1)

10
20

In [8]:

#Variable namimg convention
"""
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 
Rules for Python variables:
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)
"""

'\nA variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). \nRules for Python variables:\n1. A variable name must start with a letter or the underscore character\n2. A variable name cannot start with a number\n3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )\n4. Variable names are case-sensitive (age, Age and AGE are three different variables)\n'

In [9]:
#Camel case 
camelCase = "This is a string variable in camel case format"
#Snake case
snake_case_format_string = "This is a snake case format. Which do you like best?"

In [10]:
#Many Values to Multiple Variables
x, y, z = "a", "b", "c"
print(x)
print(y)
print(z)

a
b
c

In [11]:
#One Value to Multiple Variables
x = y = z = "b"
print(x)
print(y)
print(z)

b
b
b

In [12]:
#using arrays
fruits = ["a", "b", "c"]
x, y, z = fruits
print(x)
print(y)
print(z)

a
b
c

In [13]:
#Outputting variables using print
x = "good"
print("x = "+ x)

#concatenating strings
x = "Life is"
y = "good"
z = x + y 
print (z)

x = good
Life isgood

In [14]:
x = "The value of pi is "
y = 3.14
z = x + y
print(z)

TypeError: ignored

In [15]:
#Scope
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [16]:

a = "Amsterdam!"
print(a[1])
for x in "Aloha":
  print(x)

print(len(a))

m
A
l
o
h
a
10

In [17]:
#Get the characters from position 2 to position 5 (not included):
b = "Applesauce!"
print(b[2:5])
#From beginning
print(b[:5])
#To end
print(b[2:])
#From end of the string
print(b[-5:-2])

ple
Apple
plesauce!
auc

In [18]:

#Other operations such as upper case, lower case, trimming spaces, replacing words and splitting 
a = " I am a fancy string "
print(a.upper())
print(a.lower())
print(a.strip()) 
print(a.replace("fancy", "simple"))
print(a.split(" "))

 I AM A FANCY STRING
 i am a fancy string
I am a fancy string
 I am a simple string
['', 'I', 'am', 'a', 'fancy', 'string', '']

In [19]:
#Formatting strings for diff data types
age = 1
txt = "My name is Jax, and I am {}"
print(txt.format(age))

quantity = 10
item = "tomatoes"
price = 12
time = 1
myorder = "I want {} {} for ${} dollars please in {} hour(s)."
print(myorder.format(quantity, item, price, time))

txt = "We are the so-called \"Vikings\" from the north."

My name is Jax, and I am 1
I want 10 tomatoes for $12 dollars please in 1 hour(s).